# registry=https://registry.npmmirror.com
registry=https://registry.npmjs.org
//registry.npmjs.org/:_password="673327muse"
//registry.npmjs.org/:username=themusecatcher
//registry.npmjs.org/:email=d_muses@163.com
//registry.npmjs.org/:always-auth=false